.main__area {
  display: grid;
  grid-template-columns: repeat(100, 64px);
  grid-auto-rows: 64px;
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__area::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.area__element {
  display: block;
  background-image: url("../img/trava_1.jpg");
  background-size: 64px;
  /* background-color: rgba(0, 0, 255, 0.2); */
  /* outline: 1px solid rgba(255, 255, 255, 0.3); */
}

.area__element.second {
  background-image: url("../img/trava_2.jpg");
}

.area__element.border-tile {
  background-image: url("../img/sea.gif");
}

.area__element img {
  width: 64px;
  height: 64PX;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  z-index: 1;
  -webkit-transition: transform 0.3 с;
}

@media (max-width: 767px) {
  .main__area {
    grid-template-columns: repeat(100, 32px);
    grid-auto-rows: 32px;
  }

  .area__element {
    display: block;
    background-image: url("../img/pl_1.jpg");
    background-size: 32px;
  }
}
